### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [709]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
Total_Number_of_Players = len(purchase_data["SN"].unique())
Total_Number_of_Players
########################################################################################################################
Number_of_Unique_Items = len(purchase_data["Item ID"].unique())
Average_Price = purchase_data["Price"].mean()
Number_of_Purchases = len(purchase_data["Purchase ID"].unique())
Total_Revenue = purchase_data["Price"].sum()
Purchasing_Analysis_Total = pd.DataFrame({
    "Number of Unique Items": [Number_of_Unique_Items],
    "Average Price": [Average_Price],
    "Number of Purchases": [Number_of_Purchases],
    "Total Revenue": [Total_Revenue]
})
Purchasing_Analysis_Total = Purchasing_Analysis_Total.round(decimals = 2)
Purchasing_Analysis_Total["Average Price"] = Purchasing_Analysis_Total["Average Price"].map("${:.2f}".format)
Purchasing_Analysis_Total["Total Revenue"] = Purchasing_Analysis_Total["Total Revenue"].map("${:,.2f}".format)
Purchasing_Analysis_Total
########################################################################################################################
M = purchase_data.loc[purchase_data["Gender"]=="Male"]
Male = len(M["SN"].unique())
Male_Percent = round(((Male/Total_Players)*100),2)
F = purchase_data.loc[purchase_data["Gender"]=="Female"]
Female = len(F["SN"].unique())
Female_Percent = round(((Female/Total_Players)*100),2)
purchase_data["Gender"].unique()
ONO = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed"]
Other_NonDisclosed = len(ONO["SN"].unique())
Other_NonDisclosed_Percent = round(((Other_NonDisclosed/Total_Players)*100),2)
Gender_Demographics = pd.DataFrame({
    "Gender":["Male","Female","Other/NonDisclosed"],
    "Total Count":[Male,Female,Other_NonDisclosed],
    "Percentage of Players":[Male_Percent,Female_Percent,Other_NonDisclosed_Percent] 
})
Gender_Demographics
########################################################################################################################
Purchase_Count_Male = len(M["Gender"])
Purchase_Count_Female = len(F["Gender"])
Purchase_Count_Other_NonDisclosed = len(ONO["Gender"])
Average_Purchase_Price_Male = round(M["Price"].mean(),2)
Average_Purchase_Price_Female = round(F["Price"].mean(),2)
Average_Purchase_Price_Other_NonDisclosed = round(ONO["Price"].mean(),2)
Total_Purchase_Value_Male = M["Price"].sum()
Total_Purchase_Value_Female = F["Price"].sum()
Total_Purchase_Value_Other_NonDisclosed = ONO["Price"].sum()
Total_Purchase_Value_Other_NonDisclosed
grouped_F = F.groupby(["SN"])
F_sum = grouped_F["Price"].sum()
Avg_Total_Purchase_per_Person_Female = round(F_sum.mean(),2)
grouped_M = M.groupby(["SN"])
M_sum = grouped_M["Price"].sum()
Avg_Total_Purchase_per_Person_Male = round(M_sum.mean(),2)
grouped_ONO = ONO.groupby(["SN"])
ONO_sum = grouped_ONO["Price"].sum()
Avg_Total_Purchase_per_Person_Other_NonDisclosed = round(ONO_sum.mean(),2)
Purchasing_Analysis_Gender = pd.DataFrame({
    "Gender":["Male","Female","Other/NonDisclosed"],
    "Purchase Count":[Purchase_Count_Male,Purchase_Count_Female,Purchase_Count_Other_NonDisclosed],
    "Average Purchase Price":[Average_Purchase_Price_Male,Average_Purchase_Price_Female,Average_Purchase_Price_Other_NonDisclosed],
    "Total Purchase Value": [Total_Purchase_Value_Male,Total_Purchase_Value_Female,Total_Purchase_Value_Other_NonDisclosed],
    "Avg Total Purchase per Person": [Avg_Total_Purchase_per_Person_Male,Avg_Total_Purchase_per_Person_Female,Avg_Total_Purchase_per_Person_Other_NonDisclosed],
})
Purchasing_Analysis_Gender["Average Purchase Price"] = Purchasing_Analysis_Gender["Average Purchase Price"].map("${:,.2f}".format)
Purchasing_Analysis_Gender["Total Purchase Value"] = Purchasing_Analysis_Gender["Total Purchase Value"].map("${:,.2f}".format)
Purchasing_Analysis_Gender["Avg Total Purchase per Person"] = Purchasing_Analysis_Gender["Avg Total Purchase per Person"].map("${:,.2f}".format)
Purchasing_Analysis_Gender
########################################################################################################################
bins = [6, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 46]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
a= pd.DataFrame(purchase_data.groupby('Age Group')['SN'].nunique())
a
Age_Demographics = pd.DataFrame({
    "Age Group": ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"],
    "Total Count": [17, 22, 107, 258, 77, 52, 31, 12]
})
Age_Demographics
Sum = Age_Demographics["Total Count"].sum()
Age_Demographics["Percentage of Players"] = round(((Age_Demographics["Total Count"]/Sum)*100),2)
Age_Demographics
########################################################################################################################
grouped_purchase_data = purchase_data.groupby('Age Group')
b = grouped_purchase_data["SN"].count()
c = round(grouped_purchase_data["Price"].sum(),2)
Age_Demographics.index = b.index
Age_Demographics["Purchase Count"] = b
Age_Demographics.index = c.index
Age_Demographics["Total Purchase Value"] = c
Age_Demographics["Average Purchase Price"] = round((c/b),2)
Age_Demographics["Avg Total Purchase per Person"] = round((Age_Demographics["Total Purchase Value"]/Age_Demographics["Total Count"]),2)
Age_Demographics
Age_Demographics["Total Purchase Value"] = Age_Demographics["Total Purchase Value"].map("${:,.2f}".format)
Age_Demographics["Average Purchase Price"] = Age_Demographics["Average Purchase Price"].map("${:,.2f}".format)
Age_Demographics["Avg Total Purchase per Person"] = Age_Demographics["Avg Total Purchase per Person"].map("${:,.2f}".format)
Purchasing_Analysis_Age = Age_Demographics.drop(('Age Group'),axis = 'columns')
Purchasing_Analysis_Age.drop(['Percentage of Players', 'Total Count'], axis=1, inplace=True)
Purchasing_Analysis_Age
########################################################################################################################
Top_Spenders = pd.DataFrame(purchase_data["SN"].value_counts())
group = purchase_data.groupby(['SN'])
Top_Spenders["Total Purchase Value"] = round(group["Price"].sum(),2)
Top_Spenders.reset_index(inplace = True)
Top_Spenders = Top_Spenders.rename(columns={"index":"SN", "SN":"Purchase Count"})
Top_Spenders["Average Purchase Price"] = round((Top_Spenders["Total Purchase Value"]/Top_Spenders["Purchase Count"]),2)
Top_Spenders["Total Purchase Value"] = Top_Spenders["Total Purchase Value"].map("${:,.2f}".format)
Top_Spenders["Average Purchase Price"] = Top_Spenders["Average Purchase Price"].map("${:,.2f}".format)
Top_Spenders
########################################################################################################################
w = purchase_data.groupby(['Item ID','Item Name'])
x = pd.DataFrame(round(w["Price"].sum(),2))
x = x.rename(columns={"Price":"Total Purchase Value"})
y = pd.DataFrame(purchase_data["Item Name"].value_counts())
y = y.rename(columns={"Item Name":"Purchase Count"})
y.reset_index(inplace = True)
y = y.rename(columns={"index":"Item Name"})
x.reset_index(inplace = True)
m = pd.merge(x, y, how = "outer")
z = pd.merge(m, purchase_data, how = "left")
z = z.drop_duplicates(subset=['Item Name'], keep='first')
z.drop(['Purchase ID', 'SN','Age','Gender','Age Group'], axis=1, inplace=True)
z = z.rename(columns={"Price":"Item Price"})
Most_Popular_Items = z[["Item ID","Item Name","Purchase Count","Item Price","Total Purchase Value"]]
Most_Popular_Items
########################################################################################################################
Most_Profitable_Items = Most_Popular_Items.sort_values("Total Purchase Value", ascending=False)
Most_Profitable_Items["Item Price"] = Most_Profitable_Items["Item Price"].map("${:,.2f}".format)
Most_Profitable_Items["Total Purchase Value"] = Most_Profitable_Items["Total Purchase Value"].map("${:,.2f}".format)
Most_Profitable_Items
########################################################################################################################

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
751,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
341,82,Nirvana,9,$4.90,$44.10
614,145,Fiery Glass Crusader,9,$4.58,$41.22
382,92,Final Critic,13,$4.88,$39.04
437,103,Singed Scalpel,8,$4.35,$34.80
235,59,"Lightning, Etcher of the King",8,$4.23,$33.84
457,108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
324,78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
292,72,Winter's Bite,8,$3.77,$30.16
243,60,Wolf,8,$3.54,$28.32
763,179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
682,160,Azurewrath,6,$4.40,$26.40
110,25,Hero Cane,6,$4.35,$26.10
151,37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
589,139,"Mercy, Katana of Dismay",5,$4.94,$24.70
536,128,"Blazeguard, Reach of Eternity",5,$4.91,$24.55
584,138,"Peacekeeper, Wit of Dark Magic",5,$4.74,$23.70
367,87,"Deluge, Edge of the West",5,$4.43,$22.15
675,159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
573,136,Ghastly Adamantite Protector,6,$3.58,$21.48
262,65,Conqueror Adamantite Mace,5,$4.24,$21.20
431,102,Avenger,6,$3.44,$20.64
564,133,Faith's Scimitar,5,$4.09,$20.45
163,39,"Betrayal, Whisper of Grieving Widows",5,$3.94,$19.70
476,111,Misery's End,4,$4.89,$19.56
710,165,Bone Crushing Silver Skewer,4,$4.86,$19.44
308,75,Brutality Ivory Warmace,8,$2.42,$19.36
205,52,Hatred,4,$4.84,$19.36
669,157,"Spada, Etcher of Hatred",4,$4.80,$19.20
488,114,Yearning Mageblade,5,$3.82,$19.10
...,...,...,...,...,...
731,171,Scalpel,3,$1.79,$5.37
64,14,Possessed Core,2,$2.61,$5.22
527,124,Venom Claymore,4,$1.29,$5.16
0,0,Splinter,4,$1.28,$5.12
659,155,War-Forged Gold Deflector,5,$1.01,$5.05
195,48,"Rage, Legacy of the Lone Victor",2,$2.48,$4.96
673,158,"Darkheart, Butcher of the Champion",2,$2.45,$4.90
204,51,Endbringer,1,$4.66,$4.66
569,134,Undead Crusader,1,$4.50,$4.50
126,30,Stormcaller,3,$2.21,$4.42
570,135,Warped Diamond Crusader,3,$1.40,$4.20
381,91,Celeste,1,$4.17,$4.17
749,177,"Winterthorn, Defender of Shifting Worlds",2,$2.08,$4.16
281,70,Hope's End,4,$1.03,$4.12
493,115,Spectral Diamond Doomblade,2,$2.04,$4.08
279,69,"Frenzy, Defender of the Harvest",2,$1.98,$3.96
194,47,"Alpha, Reach of Ending Hope",1,$3.58,$3.58
118,27,"Riddle, Tribute of Ended Dreams",1,$3.30,$3.30
777,183,Dragon's Greatsword,3,$1.09,$3.27
129,31,Trickster,2,$1.55,$3.10
721,168,"Sun Strike, Jaws of Twisted Visions",2,$1.48,$2.96
380,90,Betrayer,1,$2.94,$2.94
136,33,Curved Axe,2,$1.16,$2.32
116,26,Unholy Wand,2,$1.12,$2.24
506,118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
119,28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
531,125,Whistling Mithril Warblade,2,$1.00,$2.00
533,126,Exiled Mithril Longsword,1,$2.00,$2.00
445,104,Gladiator's Glaive,1,$1.93,$1.93
177,42,The Decapitator,1,$1.75,$1.75

## Player Count

* Display the total number of players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80